adf/pipeline/onprem_to_azure.json
{
	"name": "onprem_to_azure",
	"properties": {
		"activities": [
			{
				"name": "Copying data from mysql to Azure",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT * FROM taxi_trips\nWHERE updated_at > '@{activity('Lookup_watermark').output.firstRow.last_watermark_value}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "trip_id",
									"type": "Int32",
									"physicalType": "Int32"
								},
								"sink": {
									"name": "trip_id",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "vendor_id",
									"type": "String",
									"physicalType": "VarChar"
								},
								"sink": {
									"name": "vendor_id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "pickup_datetime",
									"type": "DateTime",
									"physicalType": "DateTime"
								},
								"sink": {
									"name": "pickup_datetime",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "dropoff_datetime",
									"type": "DateTime",
									"physicalType": "DateTime"
								},
								"sink": {
									"name": "dropoff_datetime",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "passenger_count",
									"type": "SByte",
									"physicalType": "Byte"
								},
								"sink": {
									"name": "passenger_count",
									"type": "SByte",
									"physicalType": "INT_8"
								}
							},
							{
								"source": {
									"name": "trip_distance",
									"type": "Decimal",
									"physicalType": "NewDecimal"
								},
								"sink": {
									"name": "trip_distance",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "pickup_longitude",
									"type": "Decimal",
									"physicalType": "NewDecimal"
								},
								"sink": {
									"name": "pickup_longitude",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "pickup_latitude",
									"type": "Decimal",
									"physicalType": "NewDecimal"
								},
								"sink": {
									"name": "pickup_latitude",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "dropoff_longitude",
									"type": "Decimal",
									"physicalType": "NewDecimal"
								},
								"sink": {
									"name": "dropoff_longitude",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "dropoff_latitude",
									"type": "Decimal",
									"physicalType": "NewDecimal"
								},
								"sink": {
									"name": "dropoff_latitude",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "payment_type",
									"type": "String",
									"physicalType": "VarChar"
								},
								"sink": {
									"name": "payment_type",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fare_amount",
									"type": "Decimal",
									"physicalType": "NewDecimal"
								},
								"sink": {
									"name": "fare_amount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "tip_amount",
									"type": "Decimal",
									"physicalType": "NewDecimal"
								},
								"sink": {
									"name": "tip_amount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "total_amount",
									"type": "Decimal",
									"physicalType": "NewDecimal"
								},
								"sink": {
									"name": "total_amount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "rate_code",
									"type": "String",
									"physicalType": "VarChar"
								},
								"sink": {
									"name": "rate_code",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "store_fwd_flag",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "store_fwd_flag",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "DateTime",
									"physicalType": "DateTime"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "DateTime",
									"physicalType": "DateTime"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_ds_mysql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_ds_ADLS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM pipeline_watermark\nWHERE source_table_name = 'taxi_trips'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableforwatermark_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get_New_Watermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copying data from mysql to Azure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT MAX(updated_at) as new_watermark FROM taxi_trips",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "Source_ds_mysql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update_watermark",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Get_New_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabasesourcewatermark_ls",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE pipeline_watermark \nSET \n      last_watermark_value ='@{activity('Get_New_Watermark').output.firstRow.new_watermark}',\n      last_run_status = 'SUCCESS',\n      last_run_rows_copied= '@{activity('Copying data from mysql to Azure').output.rowsCopied}'\nWHERE source_table_name ='taxi_trips'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"v_last_watermark": {
				"type": "String"
			},
			"v_last_watermark_column": {
				"type": "String"
			}
		},
		"annotations": []
	}
}