adf/pipeline/pl_silver_transform.json
{
	"name": "pl_silver_transform",
	"properties": {
		"activities": [
			{
				"name": "silver_layer_transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/suryaravi2026@outlook.com/taxi_silver_transform",
					"baseParameters": {
						"bronze_path": {
							"value": "@pipeline().parameters.bronze_path",
							"type": "Expression"
						},
						"silver_path": {
							"value": "@pipeline().parameters.silver_path",
							"type": "Expression"
						},
						"last_watermark": {
							"value": "@pipeline().parameters.last_watermark",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "check _data_status",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "silver_layer_transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('silver_layer_transformation').output.runOutput,'NO_DATA')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SP_Watermark_Update",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_update_ingestion_watermark]",
								"storedProcedureParameters": {
									"data_path": {
										"value": {
											"value": "@pipeline().parameters.silver_path",
											"type": "Expression"
										},
										"type": "String"
									},
									"layer_name": {
										"value": "silver",
										"type": "String"
									},
									"new_watermark_value": {
										"value": {
											"value": "@json(activity('silver_layer_transformation').output.runOutput).max_watermark",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_processed": {
										"value": {
											"value": "@json(activity('silver_layer_transformation').output.runOutput).rows_processed",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"source_system": {
										"value": "bronze",
										"type": "String"
									},
									"source_table": {
										"value": "taxi_trips",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabasesourcewatermark_ls",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SP_No_Data_log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_log_pipeline_execution]",
								"storedProcedureParameters": {
									"data_path": {
										"value": {
											"value": "@pipeline().parameters.silver_path",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_message": {
										"value": "No incremental data found",
										"type": "String"
									},
									"layer_name": {
										"value": "Silver",
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_processed": {
										"value": "0",
										"type": "Int32"
									},
									"source_table": {
										"value": "taxi_trips",
										"type": "String"
									},
									"status": {
										"value": "SUCCESS",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabasesourcewatermark_ls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"bronze_path": {
				"type": "string",
				"defaultValue": "abfss://bronze@stnyctaxisri01.dfs.core.windows.net/"
			},
			"silver_path": {
				"type": "string",
				"defaultValue": "abfss://silver@stnyctaxisri01.dfs.core.windows.net/"
			},
			"last_watermark": {
				"type": "string",
				"defaultValue": "2024-01-01"
			}
		},
		"annotations": []
	}
}