adf-nyctaxi-dev-sri01/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-nyctaxi-dev-sri01"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"MySql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'MySql'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stnyctaxisri01.dfs.core.windows.net/"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0415-091349-iodtgexn"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-nyc-taxi-sri01.vault.azure.net/"
		},
		"AzureSqlDatabasesourcewatermark_ls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-nyctaxi-dev-sri01.database.windows.net"
		},
		"AzureSqlDatabasesourcewatermark_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-watermark-dev"
		},
		"AzureSqlDatabasesourcewatermark_ls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		},
		"MySql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost"
		},
		"MySql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "nyc_taxi_source"
		},
		"MySql_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "root"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pl_master_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "run_bronze_pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "onprem_to_azure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"bronze_path": {
									"value": "@pipeline().parameters.bronze_path",
									"type": "Expression"
								},
								"layer_name": {
									"value": "@pipeline().parameters.silver_path",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "run_silver_pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "run_bronze_pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_silver_transform",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"bronze_path": {
									"value": "@pipeline().parameters.bronze_path",
									"type": "Expression"
								},
								"silver_path": {
									"value": "@pipeline().parameters.silver_path",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SP_failure_bronze",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "run_bronze_pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_log_pipeline_execution]",
							"storedProcedureParameters": {
								"data_path": {
									"value": {
										"value": "@pipeline().parameters.bronze_path",
										"type": "Expression"
									},
									"type": "String"
								},
								"error_message": {
									"value": {
										"value": "@activity('run_bronze_pipeline').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"layer_name": {
									"value": "bronze",
									"type": "String"
								},
								"pipeline_name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"rows_processed": {
									"value": "0",
									"type": "Int32"
								},
								"source_table": {
									"value": {
										"value": "@pipeline().parameters.source_Table",
										"type": "Expression"
									},
									"type": "String"
								},
								"status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabasesourcewatermark_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_failure_silver",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "run_silver_pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_log_pipeline_execution]",
							"storedProcedureParameters": {
								"data_path": {
									"value": {
										"value": "@pipeline().parameters.silver_path",
										"type": "Expression"
									},
									"type": "String"
								},
								"error_message": {
									"value": {
										"value": "@activity('run_silver_pipeline').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"layer_name": {
									"value": "silver",
									"type": "String"
								},
								"pipeline_name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"rows_processed": {
									"value": "0",
									"type": "Int32"
								},
								"source_table": {
									"value": {
										"value": "@pipeline().parameters.source_Table",
										"type": "Expression"
									},
									"type": "String"
								},
								"status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabasesourcewatermark_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Web_activity_email_Trigger_failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SP_failure_bronze",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-06.centralindia.logic.azure.com:443/workflows/1451aa8ee56544c4aee81dd812d69fa3/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=VX2QC6ngna6dH5tLrCRXpwyAu3l8SMoLb7bAKojeo2Y",
							"body": {
								"value": "@json(concat(\n'{',\n'\"pipeline_name\":\"', pipeline().Pipeline, '\",',\n'\"table_name\":\"taxi_trips\",',\n'\"error_message\":\"', \nreplace(replace(replace(string(coalesce(activity('run_bronze_pipeline').error.message,'Unknown error')),'\"',''),'{',''),'}',''),\n'\",',\n'\"run_id\":\"', pipeline().RunId, '\"',\n'}'\n))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Web_activity_email_Trigger_failure_copy1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SP_failure_silver",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-06.centralindia.logic.azure.com:443/workflows/1451aa8ee56544c4aee81dd812d69fa3/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=VX2QC6ngna6dH5tLrCRXpwyAu3l8SMoLb7bAKojeo2Y",
							"body": {
								"value": "@json(concat(\n'{',\n'\"pipeline_name\":\"', pipeline().Pipeline, '\",',\n'\"table_name\":\"taxi_trips\",',\n'\"error_message\":\"', \nreplace(replace(replace(string(coalesce(activity('run_silver_pipeline').error.message,'Unknown error')),'\"',''),'{',''),'}',''),\n'\",',\n'\"run_id\":\"', pipeline().RunId, '\"',\n'}'\n))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"source_Table": {
						"type": "string",
						"defaultValue": "taxi_trips"
					},
					"bronze_path": {
						"type": "string",
						"defaultValue": "abfss://bronze@stnyctaxisri01.dfs.core.windows.net/nyc_taxi/trips/"
					},
					"silver_path": {
						"type": "string",
						"defaultValue": "abfss://silver@stnyctaxisri01.dfs.core.windows.net/nyc_taxi/trips/"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/onprem_to_azure')]",
				"[concat(variables('factoryId'), '/pipelines/pl_silver_transform')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabasesourcewatermark_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/onprem_to_azure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT last_watermark_value \nFROM ingestion_watermark\nWHERE source_table_name = 'taxi_trips'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTableforwatermark_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Lookup Config",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Get_Row_Count",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT min_expected_rows, allow_zero_load  \nFROM ingestion_validation_config  \nWHERE source_table_name = 'taxi_trips'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTableforwatermark_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Data_processing_Log_Error_SP",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(\n    and(\n        equals(activity('Lookup Config').output.firstRow.allow_zero_load, true),\n        greaterOrEquals(activity('Get_Row_Count').output.firstRow.row_count, 0)\n    ),\n    greaterOrEquals(\n        activity('Get_Row_Count').output.firstRow.row_count,\n        activity('Lookup Config').output.firstRow.min_expected_rows\n    )\n)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SP_Bronze_Log_No_Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_log_pipeline_execution]",
										"storedProcedureParameters": {
											"data_path": {
												"value": {
													"value": "@pipeline().parameters.bronze_path",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_message": {
												"value": "No Incremental data found",
												"type": "String"
											},
											"layer_name": {
												"value": {
													"value": "bronze",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_processed": {
												"value": "0",
												"type": "Int32"
											},
											"source_table": {
												"value": "taxi_trips",
												"type": "String"
											},
											"status": {
												"value": "NO_DATA",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabasesourcewatermark_ls",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Get_New_Watermark",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Copying data from mysql to Azure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "SELECT MAX(updated_at) as new_watermark FROM taxi_trips",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "Source_ds_mysql",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "SP_Bronze_Ingestion_Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Get_New_Watermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_update_ingestion_watermark]",
										"storedProcedureParameters": {
											"data_path": {
												"value": {
													"value": "@pipeline().parameters.bronze_path",
													"type": "Expression"
												},
												"type": "String"
											},
											"layer_name": {
												"value": {
													"value": "bronze",
													"type": "Expression"
												},
												"type": "String"
											},
											"new_watermark_value": {
												"value": {
													"value": "@activity('Get_New_Watermark').output.firstRow.new_watermark",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_processed": {
												"value": {
													"value": "@activity('Get_Row_Count').output.firstRow.row_count",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"source_system": {
												"value": "mysql",
												"type": "String"
											},
											"source_table": {
												"value": "taxi_trips",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabasesourcewatermark_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SP_Bronze_log_Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SP_Bronze_Ingestion_Watermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_log_pipeline_execution]",
										"storedProcedureParameters": {
											"data_path": {
												"value": {
													"value": "@pipeline().parameters.bronze_path",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_message": {
												"value": null,
												"type": "String"
											},
											"layer_name": {
												"value": {
													"value": "bronze",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_processed": {
												"value": {
													"value": "@activity('Get_Row_Count').output.firstRow.row_count",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"source_table": {
												"value": "taxi_trips",
												"type": "String"
											},
											"status": {
												"value": "SUCCESS",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabasesourcewatermark_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copying data from mysql to Azure",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "SELECT * FROM taxi_trips\nWHERE updated_at > '@{activity('Lookup_watermark').output.firstRow.last_watermark_value}'",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "trip_id",
														"type": "Int32",
														"physicalType": "Int32"
													},
													"sink": {
														"name": "trip_id",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "vendor_id",
														"type": "String",
														"physicalType": "VarChar"
													},
													"sink": {
														"name": "vendor_id",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "pickup_datetime",
														"type": "DateTime",
														"physicalType": "DateTime"
													},
													"sink": {
														"name": "pickup_datetime",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "dropoff_datetime",
														"type": "DateTime",
														"physicalType": "DateTime"
													},
													"sink": {
														"name": "dropoff_datetime",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "passenger_count",
														"type": "SByte",
														"physicalType": "Byte"
													},
													"sink": {
														"name": "passenger_count",
														"type": "SByte",
														"physicalType": "INT_8"
													}
												},
												{
													"source": {
														"name": "trip_distance",
														"type": "Decimal",
														"physicalType": "NewDecimal"
													},
													"sink": {
														"name": "trip_distance",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "pickup_longitude",
														"type": "Decimal",
														"physicalType": "NewDecimal"
													},
													"sink": {
														"name": "pickup_longitude",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "pickup_latitude",
														"type": "Decimal",
														"physicalType": "NewDecimal"
													},
													"sink": {
														"name": "pickup_latitude",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "dropoff_longitude",
														"type": "Decimal",
														"physicalType": "NewDecimal"
													},
													"sink": {
														"name": "dropoff_longitude",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "dropoff_latitude",
														"type": "Decimal",
														"physicalType": "NewDecimal"
													},
													"sink": {
														"name": "dropoff_latitude",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "payment_type",
														"type": "String",
														"physicalType": "VarChar"
													},
													"sink": {
														"name": "payment_type",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "fare_amount",
														"type": "Decimal",
														"physicalType": "NewDecimal"
													},
													"sink": {
														"name": "fare_amount",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "tip_amount",
														"type": "Decimal",
														"physicalType": "NewDecimal"
													},
													"sink": {
														"name": "tip_amount",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "total_amount",
														"type": "Decimal",
														"physicalType": "NewDecimal"
													},
													"sink": {
														"name": "total_amount",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "rate_code",
														"type": "String",
														"physicalType": "VarChar"
													},
													"sink": {
														"name": "rate_code",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "store_fwd_flag",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "store_fwd_flag",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "updated_at",
														"type": "DateTime",
														"physicalType": "DateTime"
													},
													"sink": {
														"name": "updated_at",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "created_at",
														"type": "DateTime",
														"physicalType": "DateTime"
													},
													"sink": {
														"name": "created_at",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Source_ds_mysql",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Sink_ds_ADLS",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get_Row_Count",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "SELECT COUNT(*) AS row_count\nfrom taxi_trips\nwhere updated_at > '@{activity('Lookup_watermark').output.firstRow.last_watermark_value}'",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "Source_ds_mysql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"bronze_path": {
						"type": "string",
						"defaultValue": "abfss://bronze@stnyctaxisri01.dfs.core.windows.net/"
					}
				},
				"variables": {
					"v_last_watermark": {
						"type": "String"
					},
					"v_last_watermark_column": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableforwatermark_ds')]",
				"[concat(variables('factoryId'), '/datasets/Source_ds_mysql')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabasesourcewatermark_ls')]",
				"[concat(variables('factoryId'), '/datasets/Sink_ds_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_silver_transform')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "silver_layer_transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Lookup_Silver_Watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/suryaravi2026@outlook.com/taxi_silver_transform",
							"baseParameters": {
								"bronze_path": {
									"value": "@pipeline().parameters.bronze_path",
									"type": "Expression"
								},
								"silver_path": {
									"value": "@pipeline().parameters.silver_path",
									"type": "Expression"
								},
								"last_watermark": {
									"value": "@activity('Lookup_Silver_Watermark').output.firstRow.last_watermark_value",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "check _data_status",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "silver_layer_transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('silver_layer_transformation').output.runOutput,'NO_DATA')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SP_Silver_Watermark_Update",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_update_transformation_watermark]",
										"storedProcedureParameters": {
											"data_path": {
												"value": {
													"value": "@pipeline().parameters.silver_path",
													"type": "Expression"
												},
												"type": "String"
											},
											"layer_name": {
												"value": "silver",
												"type": "String"
											},
											"new_watermark_value": {
												"value": {
													"value": "@convertTimeZone(\n    activity('silver_layer_transformation').output.runOutput.max_watermark,\n    'UTC',\n    'UTC'\n)",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_processed": {
												"value": {
													"value": "@activity('silver_layer_transformation').output.runOutput.rows_processed",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"source_table": {
												"value": "taxi_trips",
												"type": "String"
											},
											"target_table": {
												"value": "taxi_trips",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabasesourcewatermark_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SP_Silver_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SP_Silver_Watermark_Update",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_log_pipeline_execution]",
										"storedProcedureParameters": {
											"data_path": {
												"value": {
													"value": "@pipeline().parameters.silver_path",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_message": {
												"value": null,
												"type": "String"
											},
											"layer_name": {
												"value": "silver",
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_processed": {
												"value": {
													"value": "@activity('silver_layer_transformation').output.runOutput.rows_processed",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"source_table": {
												"value": "taxi_trips",
												"type": "String"
											},
											"status": {
												"value": "SUCCESS",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabasesourcewatermark_ls",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SP_Silver_No_Data_log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_log_pipeline_execution]",
										"storedProcedureParameters": {
											"data_path": {
												"value": {
													"value": "@pipeline().parameters.silver_path",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_message": {
												"value": "No incremental data found",
												"type": "String"
											},
											"layer_name": {
												"value": "silver",
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_processed": {
												"value": "0",
												"type": "Int32"
											},
											"source_table": {
												"value": "taxi_trips",
												"type": "String"
											},
											"status": {
												"value": "NO_DATA",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabasesourcewatermark_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Silver_Watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT last_watermark_value\nFROM transformation_watermark\nWHERE layer_name = 'silver'\nAND target_table_name = 'taxi_trips'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTableforwatermark_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"bronze_path": {
						"type": "string",
						"defaultValue": "abfss://bronze@stnyctaxisri01.dfs.core.windows.net/nyc_taxi/trips/"
					},
					"silver_path": {
						"type": "string",
						"defaultValue": "abfss://silver@stnyctaxisri01.dfs.core.windows.net/nyc_taxi/trips/"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableforwatermark_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabasesourcewatermark_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableforwatermark_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabasesourcewatermark_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "watermark_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "source_table_name",
						"type": "varchar"
					},
					{
						"name": "source_schema",
						"type": "varchar"
					},
					{
						"name": "watermark_column",
						"type": "varchar"
					},
					{
						"name": "last_watermark_value",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "last_run_status",
						"type": "varchar"
					},
					{
						"name": "last_run_rows_copied",
						"type": "int",
						"precision": 10
					},
					{
						"name": "last_run_start_time",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "last_run_end_time",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "pipeline_run_id",
						"type": "varchar"
					},
					{
						"name": "created_at",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "updated_at",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "pipeline_watermark"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabasesourcewatermark_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_ds_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('nyc_taxi/trips/year=', formatDateTime(utcNow(), 'yyyy'), '/month=', formatDateTime(utcNow(), 'MM'), '/day=', formatDateTime(utcNow(), 'dd'))",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_ds_mysql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MySql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`taxi_trips`"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MySql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405618378686395.15.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabasesourcewatermark_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabasesourcewatermark_ls_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabasesourcewatermark_ls_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabasesourcewatermark_ls_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "sql-admin-password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"server": "[parameters('MySql_properties_typeProperties_server')]",
					"port": 3306,
					"database": "[parameters('MySql_properties_typeProperties_database')]",
					"username": "[parameters('MySql_properties_typeProperties_username')]",
					"sslMode": 1,
					"useSystemTrustStore": 0,
					"password": {
						"type": "SecureString",
						"value": "[parameters('MySql_password')]"
					},
					"driverVersion": "v2"
				},
				"connectVia": {
					"referenceName": "shir-local-mysql",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-local-mysql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/shir-local-mysql')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"selfContainedInteractiveAuthoringEnabled": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_gold_transform')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Gold_Watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT last_watermark_value\nFROM transformation_watermark\nWHERE layer_name = 'gold'\nAND target_table_name = 'taxi_trips'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTableforwatermark_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"gold_path": {
						"type": "string",
						"defaultValue": "abfss://gold@stnyctaxisri01.dfs.core.windows.net/nyc_taxi/"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableforwatermark_ds')]"
			]
		}
	]
}